@charset "UTF-8";

* Zerando */
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --corFont: #5f6368;
}

body{
   color: #5f6368;  
}

a{
    color: var(--corFont);
}

/* Cabecalho */
div#menu{
    width: 100%;
    height: 20px;
    display: flex;

}
