/* GENERAL */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /*Para os inputs não ultrapassarem o limite da div*/
}

/*CONTAINERS*/

#main-container {
    display: flex;
    flex-direction: row;
    /*Div adress e form ficaram uma do lado da outra*/
    height: 100vh;
    /*Ocupa 100% da tela*/
}